@model SendGrid.Models.Error[]

<table>
    <tbody>
        @foreach(var error in Model)
        {
            <tr>
                <td>@error.Date</td>
                <td><b>@error.Message</b></td>
            </tr>
            <tr>
                <td colspan="2">
                    <pre>@error.StackTrace</pre>
                </td>
            </tr>
        }
    </tbody>
</table>
