@model SendGrid.Models.AuthenticatedHomePageViewModel

<article class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1> Welcome to the Favorbot</h1>
            <h2> Let me keep you up to date</h2>
        </hgroup>
        <hgroup class="pull-right">
            @Html.LabelFor(x => x.Email)
            <img src="@Model.ProfilePicUrl" alt="@Model.TwitterHandle"/>
        </hgroup>
    </div>
</article>
