@model Culminator.Models.SetEmailViewModel

<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1> Welcome to the Favorbot</h1>
            <h2> Let me keep you up to date</h2>
        </hgroup>
    </div>
</section>
<section class="content-wrapper main-content clear-fix">
    @using(Html.BeginForm(null, null, FormMethod.Post, new{ @class = "form-inline"}))
    {
        <fieldset>
            <legend>Sign up or Sign in</legend>

            <p class="well">
                We'll send you a verification email so you can get in. If this is your first time,
                we also need you to authorize us to read your favorite tweets.
            </p>
            <p class="input-prepend">
                <span class="add-on">Email</span>
                @Html.TextBoxFor(x => x.UserEmail, new{placeholder = "jonny.cache@gmail.com", @class="span3"})
            </p>

            <button type="submit" class="btn-primary btn">Send me my secret</button>
        </fieldset>
    }
</section>
