<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Check your email</h1>
        </hgroup>
    </div>
</section>
<section class="content-wrapper main-content clear-fix">
    <p>
        We've sent you an email with instructions to log in.
    </p>
</section>